

.first-line{
    
    animation-name: move-from-left1;
    animation-duration: 3s;
}



@keyframes move-from-left1{
 

    0% {
        opacity: 0;
        transform: translateY(1000px);
    }

    80% {
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }


}




.bd-programmer{
    animation-name: move-from-left2;
    animation-duration: 4.5s;

}




@keyframes move-from-left2{
 

    0% {
        opacity: 0;
        transform: translateY(1000px);
    }

    80% {
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }


}



.bd-programmer-span{
    color: orange;
}


.introduction{
    animation-name: move-from-left3;
    animation-duration: 5.5s;
    
}

@keyframes move-from-left3{
 

    0% {
        opacity: 0;
        transform: translateY(1000px);
    }

    80% {
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }


}