

.first-line{
    
    animation-name: move-from-left1;
    animation-duration: 3s;
}



@keyframes move-from-left1{
 

    0% {
        opacity: 0;
        transform: translateY(1000px);
    }

    80% {
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }


}




.bd-programmer{
    animation-name: move-from-left2;
    animation-duration: 4.5s;

}




@keyframes move-from-left2{
 

    0% {
        opacity: 0;
        transform: translateY(1000px);
    }

    80% {
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }


}



.bd-programmer-span{
    color: orange;
}


.introduction{
    animation-name: move-from-left3;
    animation-duration: 5.5s;
    
}

@keyframes move-from-left3{
 

    0% {
        opacity: 0;
        transform: translateY(1000px);
    }

    80% {
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }


}







.logo{
    width: 100px;
}

.link1{
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    transition: 0.2s;
}
.link1:hover{
    background-color: rgba(0, 0, 0, 0.123);
    border-bottom: 3px solid rgba(0, 0, 0, 0.842);
   
}



.link2{
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    transition: 0.2s;
}
.link2:hover{
    background-color: rgba(0, 0, 0, 0.123);
    border-bottom: 3px solid rgba(0, 0, 0, 0.842);
   
}



.link3{
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    transition: 0.2s;
}
.link3:hover{
    background-color: rgba(0, 0, 0, 0.123);
    border-bottom: 3px solid rgba(0, 0, 0, 0.842);
   
}























